{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="about-containter">
    <div class="leftside"></div>
        <div class="about-main-content">
            {% for u in about_user %}
                <h1 class="about-centerClass">{{u.about_name}}</h1>
                <h3 class="about-centerClass">{{u.job_title}}</h3>
                <p class="about-centerClass">{{u.about_body}}</p>
            {% endfor %}
            <br>
            <br>
            <h3 class="about-centerClass">Experience</h3>
            {% for e in experience %}
            <div class="individual-experience-container">
                <p>{{e.company_name}}</p>
                <p>{{e.job_title}}</p>
                <p>{{e.start_date}} - {{e.end_date}}</p>
                <p>{{e.job_description}}</p>
                <div class="technology-used">
                    {% if e.tech_used != None %}
                        <p>{{e.tech_used}}</p>
                    {% endif %}    
                    {% if e.tech_used_two != None %}
                        <p>{{e.tech_used_two}}</p>
                    {% endif %}
                    {% if e.tech_used_three != None %}
                        <p>{{e.tech_used_three}}</p>
                    {% endif %}
                    {% if e.tech_used_four != None %}
                        <p>{{e.tech_used_four}}</p>
                    {% endif %}
                    {% if e.tech_used_five != None %}
                        <p>{{e.tech_used_five}}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    <div class="rightside"></div>
</div>
{% endblock content %}