{% extends 'main.html' %}

{% block content %}
    <style>
        .post-container{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            margin-bottom: 50px;
        }
        .leftside{
            padding: 10px;
        }
        .main-content{
            justify-items: center;
            padding: 10px;
        }
        .rightside{
            padding: 10px;
        }
    </style>
    <div class="post-container">
        <div class="leftside">
            {% for t in posts %}
                <div class="blog-container" onclick='location.href="/posts/post/{{t.id}}";'>
                    <p>{{t.blog_title}}</p>
                    <small>{{t.author}}</small><br>
                    <small>{{t.blog_created_date}}</small>
                </div>
                <br>
            {% endfor %}
                <p>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</p>
                
                {% if posts.has_previous %}
                    <a href="?page=1">&laquo <small>First</small></a>
                    <a href="?page={{posts.previous_page_number}}"><small>Previous</small></a>    
                {% endif %}
                
                {% if posts.has_next %}
                    <a href="?page={{posts.next_page_number}}"><small>Next</small></a>
                    <a href="?page={{posts.paginator.num_pages}}"><small>Last</small>&raquo</a>
                {% endif %}
        </div>
        <div class="main-content">
            <h1>{{post.blog_title}}</h1>
            {% if post.blog_image.url is not Null %}
                <img src="{{post.blog_image.url}}" width="600px" height="600px" alt=""><br>
            {% endif %}
            <small>{{post.blog_image_info}}</small>
            <p>Author: <b>{{post.author}}</b></p>
            <p>Posted: {{post.blog_created_date|timesince}} ago</p>
            <p>{{post.blog_body}}</p>
        </div>
        <div class="rightside">
            
        </div>
    </div>
{% endblock content %}