{% extends 'main.html' %}

{% block content %}
    <div class="post-container">
        <div class="leftside post-page">
            {% for t in posts %}
                <div class="blog-container" onclick='location.href="/posts/post/{{t.id}}";'>
                    <p>{{t.blog_title}}</p>
                    <small>{{t.author}}</small><br>
                    <small>{{t.blog_created_date}}</small>
                    <p>{{t.blog_body|truncatechars:100}}</p>
                </div>
                <br>
            {% endfor %}
            <div class="view-more-blog">
                <a href="posts/" class="view-more-blog-link">...View More</a>
            </div>
        </div>
        <div class="main-content">
            <!-- Main Content -->
            <h1>{{post.blog_title}}</h1>
            {% if post.blog_image.url is not Null %}
                <img src="{{post.blog_image.url}}" width="600px" height="600px" alt=""><br>
            {% endif %}
            <small>{{post.blog_image_info}}</small>
            <p>Author: <b>{{post.author}}</b></p>
            <p>Posted: {{post.blog_created_date|timesince}} ago</p>
            <p>{{post.blog_body}}</p>
            <!--Sub Topic One -->
            {% if post.blog_topic_one_title is not Null %}
                <h3>{{post.blog_topic_one_title}}</h3>
                {% if post.blog_topic_image_one.url is not Null %}
                    <img src="{{post.blog_topic_image_one.url}}" width="600px" height="600px" alt=""><br>
                    <small>{{post.blog_image_one_info}}</small>
                {% endif %}
                <p>{{post.blog_topic_one_body}}</p>
            {% endif %}
            <!-- Sub Topic Two -->
            {% if post.blog_topic_two_title is not Null %}
                <h3>{{post.blog_topic_two_title}}</h3>
                {% if post.blog_topic_image_two.url is not Null %}
                    <img src="{{post.blog_topic_image_two.url}}" width="600px" height="600px" alt=""><br>
                    <small>{{post.blog_topic_image_info_two}}</small>
                {% endif %}
                <p>{{post.blog_topic_body_two}}</p>
            {% endif %}
            {% if post.blog_links is not Null %}
                <a href="{{post.blog_links}}" target="_blank">{{post.blog_links}}</a>
            {% endif %}
            {% if post.blog_links_two is not Null %}
                <a href="{{post.blog_links_two}}" target="_blank">{{post.blog_links_two}}</a>
            {% endif %}
        </div>
        <div class="rightside">
            
        </div>
    </div>
{% endblock content %}