{% extends 'main.html' %}

{% block content %}
    <style>
        .post-container{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            margin-bottom: 50px;
        }
        .leftside{
            border-right: 1px solid black;
            padding: 10px;
        }
        .main-content{
            justify-items: center;
            padding: 10px;
        }
        .rightside{
            border-left: 1px solid black;
            padding: 10px;
        }
    </style>
    <div class="post-container">
        <div class="leftside">

        </div>
        <div class="main-content">
            <h1>{{post.title}}</h1>
            <p>Author: <b>{{post.author}}</b></p>
            <p>{{post.created_date|timesince}} ago</p>
            <p>{{post.post_body}}</p>
        </div>
        <div class="rightside">
            
        </div>
    </div>
{% endblock content %}