{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="posts-container">
    <div class="leftside"></div>
        <div class="posts-main-content">
            <ul>
                {% for ap in all_posts %}
                    <li class="posts" onclick='location.href="post/{{ap.id}}";'>
                        <h4>{{ap.blog_title}}</h4>
                        <p>{{ap.blog_body|truncatechars:100}}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    <div class="rightside"></div>
</div>

{% endblock content %}
