{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>
    .project-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        margin-bottom: 50px;
    }
    .leftside{
        padding: 10px;
    }
    .main-content{
        justify-items: center;
        padding: 10px;
    }
    .rightside{
        padding: 10px;
    }
</style>
<div class="project-container">
    <div class="leftside">
        <h2>Other Projects</h2>
        {% for p in projects %}
            <div class="project_container" onclick='location.href="/projects/project/{{p.id}}";'>
                <p>{{p.project_title}}</p>
                <small>{{p.project_body|truncatechars:100}}</small>
            </div>
        {% endfor %}
    </div>
    <div class="main-content">
        <h3>{{project.project_title}}</h3>
        <br>
        {% if project.project_image.url is not Null %}
            <img src="{{project.project_image.url}}" width="600px" height="600px" alt="">
            <br>
            <small>{{project.image_info}}</small>
        {% endif %}
        <p>{{project.project_body}}</p>
        {% if project.project_image_two.url is not Null %}
            <img src="{{project.project_image_two.url}}" width="600px" height="600px" alt="">
            <br>
            <small>{{project.image_info_two}}</small>
            <p>{{project.project_b}}</p><br>
        {% endif %}
        <br>
        <h3>Links:</h3>
        {% if project.project_links is not Null %}
            <a href="{{project.project_links}}" target="_blank">{{project.project_links}}</a><br>
        {% endif %}
        {% if project.project_links_two is not Null %}    
            <a href="{{project.project_links_two}}" target="_blank">{{project.project_links_two}}</a>        
        {% endif %}    
    </div>
    <div class="rightside"></div>
</div>
{% endblock content %}