{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="projects-container">
    <div class="leftside"></div>
        <div class="projects-main-content">
            <ul>
                {% for p in projects %}
                <li class="individual-project-container" onclick='location.href="project/{{p.id}}";'>
                    <h3>{{p.project_title}}</h3>
                    <p>{{p.project_body|truncatechars:100}}</p>
                    <a href="{{p.project_links}}">{{p.project_links}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    <div class="rightside"></div>
</div>

{% endblock content %}